{% extends "layout.html" %}
{% block content %}
    <h1>Password Generator</h1>
    <p>Click the 'Generate Password' button to generate a new password.</p>
    <p><strong>NOTE:</strong> Passwords are randomly generated and will NOT be stored. If you wish to
    use this password, make a secure note of it.</p>
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>
    </div>
    {% if password %}
        <p><strong>Password:</strong></p>
        {{ password }}
    {% endif %}
{% endblock content %}
