{% extends "layout.html" %}
{% block content %}
    <h1>Password Breach Lookup</h1>
    <p>Has your password been breached?</p>
    <p>There are over 613 million passwords that have been exposed in data breaches, making them
        no longer usable.
    To check if your password has been discovered in a data breach, enter it in the box below.
    If the password you entered has been identified as compromised, please change it immediately!
    In order to protect your privacy, password submissions are not logged or stored in any way.</p>
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.password(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>
    </div>
    {{ response }}
{% endblock content %}